In [1]:
import pandas as pd
import sqlalchemy
#from sqlalchemy import create_engine
from sqlalchemy.engine import create_engine

In [2]:
purchase_events_df = spark.read.parquet("/tmp/purchase_events")

In [3]:
purchase_events_df.show(50,truncate=False)

+-----------------------+-----------+--------------------+---------------+---------+--------+-----------+-----+
|event_ts               |userid     |Host                |event_type     |name     |strength|n_purchased|price|
+-----------------------+-----------+--------------------+---------------+---------+--------+-----------+-----+
|2021-12-09 14:12:17.084|'user-001' |user-001.comcast.com|purchase_shield|parma    |800     |10         |1500 |
|2021-12-09 14:12:17.105|'user-001' |user-001.comcast.com|purchase_shield|parma    |800     |10         |1500 |
|2021-12-09 14:12:18.586|'user-005' |user-005.comcast.com|purchase_knife |kukri    |500     |2          |1000 |
|2021-12-09 14:12:13.15 |'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |2          |2000 |
|2021-12-09 14:12:13.176|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |2          |2000 |
|2021-12-09 14:12:12.632|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:13.163|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |2          |2000 |
|2021-12-09 14:12:15.618|'user-009' |user-009.comcast.com|purchase_shield|parma    |800     |6          |1500 |
|2021-12-09 14:12:18.086|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:12.621|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:14.204|'user-002' |user-002.comcast.com|purchase_shield|parma    |800     |7          |1500 |
|2021-12-09 14:12:13.702|'user-003' |user-003.comcast.com|purchase_sword |excalibur|1000    |7          |2000 |
|2021-12-09 14:12:18.056|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:17.585|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |5          |2000 |
|2021-12-09 14:12:12.609|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:13.711|'user-003' |user-003.comcast.com|purchase_sword |excalibur|1000    |7          |2000 |
|2021-12-09 14:12:13.156|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |2          |2000 |
|2021-12-09 14:12:12.635|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:17.572|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |5          |2000 |
|2021-12-09 14:12:13.726|'user-003' |user-003.comcast.com|purchase_sword |excalibur|1000    |7          |2000 |
|2021-12-09 14:12:18.067|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:12.625|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:18.079|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:17.581|'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |5          |2000 |
|2021-12-09 14:12:18.074|'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:12:13.733|'user-003' |user-003.comcast.com|purchase_sword |excalibur|1000    |7          |2000 |
|2021-12-09 14:12:13.719|'user-003' |user-003.comcast.com|purchase_sword |excalibur|1000    |7          |2000 |
|2021-12-09 14:12:17.59 |'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |5          |2000 |
|2021-12-09 14:12:13.17 |'user-004' |user-004.comcast.com|purchase_sword |excalibur|1000    |2          |2000 |
|2021-12-09 14:12:17.6  |'user-006' |user-006.comcast.com|purchase_sword |excalibur|1000    |5          |2000 |
|2021-12-09 14:12:14.207|'user-002' |user-002.comcast.com|purchase_shield|parma    |800     |7          |1500 |
|2021-12-09 14:12:17.097|'user-001' |user-001.comcast.com|purchase_shield|parma    |800     |10         |1500 |
|2021-12-09 14:12:15.613|'user-009' |user-009.comcast.com|purchase_shield|parma    |800     |6          |1500 |
|2021-12-09 14:12:15.607|'user-009' |user-009.comcast.com|purchase_shield|parma    |800     |6          |1500 |
|2021-12-09 14:12:15.599|'user-009' |user-009.comcast.com|purchase_shield|parma    |800     |6          |1500 |
|2021-12-09 14:12:14.219|'user-002' |user-002.comcast.com|purchase_shield|parma    |800     |7          |1500 |
|2021-12-09 14:12:14.212|'user-002' |user-002.comcast.com|purchase_shield|parma    |800     |7          |1500 |
|2021-12-09 14:12:18.566|'user-005' |user-005.comcast.com|purchase_knife |kukri    |500     |2          |1000 |
|2021-12-09 14:12:18.572|'user-005' |user-005.comcast.com|purchase_knife |kukri    |500     |2          |1000 |
|2021-12-09 14:12:17.09 |'user-001' |user-001.comcast.com|purchase_shield|parma    |800     |10         |1500 |
|2021-12-09 14:12:18.579|'user-005' |user-005.comcast.com|purchase_knife |kukri    |500     |2          |1000 |
|2021-12-09 14:09:49.829|'user-002' |localhost:5000      |purchase_sword |excalibur|1000    |3          |2000 |
|2021-12-09 14:09:45.537|'user-004' |localhost:5000      |purchase_sword |excalibur|1000    |6          |2000 |
|2021-12-09 14:09:48.874|'user-005' |localhost:5000      |purchase_sword |excalibur|1000    |7          |2000 |
|2021-12-09 14:09:46.039|'user-001' |localhost:5000      |purchase_sword |excalibur|1000    |10         |2000 |
|2021-12-09 14:09:56.491|'user-009' |localhost:5000      |purchase_sword |excalibur|1000    |3          |2000 |
|2021-12-09 14:09:58.603|'user-0010'|localhost:5000      |purchase_shield|parma    |800     |1          |1500 |
|2021-12-09 14:09:49.343|'user-006' |localhost:5000      |purchase_shield|parma    |800     |1          |1500 |
|2021-12-09 14:09:55.473|'user-006' |localhost:5000      |purchase_shield|parma    |800     |9          |1500 |
|2021-12-09 14:09:47.953|'user-008' |localhost:5000      |purchase_knife |kukri    |500     |2          |1000 |
+-----------------------+-----------+--------------------+---------------+---------+--------+-----------+-----+
only showing top 50 rows

In [5]:
guid_events_df = spark.read.parquet("/tmp/guild_events")

In [6]:
guid_events_df.show(10,truncate=False)

+-----------------------+-----------+---------------------+----------+----------------------------+--------+-----------+-----+
|event_ts               |userid     |Host                 |event_type|name                        |strength|n_purchased|price|
+-----------------------+-----------+---------------------+----------+----------------------------+--------+-----------+-----+
|2021-12-09 14:12:15.144|'user-0010'|user-0010.comcast.com|join_guild|'Castle_of_Rock'            |1200    |1          |1000 |
|2021-12-09 14:12:16.55 |'user-003' |user-003.comcast.com |join_guild|'Game_of_Thrones'           |1500    |1          |2000 |
|2021-12-09 14:12:14.683|'user-0010'|user-0010.comcast.com|join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:14.676|'user-0010'|user-0010.comcast.com|join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:14.687|'user-0010'|user-0010.comcast.com|join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:14.68 |'user-0010'|user-0010.comcast.com|join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:16.082|'user-003' |user-003.comcast.com |join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:16.078|'user-003' |user-003.comcast.com |join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:16.091|'user-003' |user-003.comcast.com |join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
|2021-12-09 14:12:16.07 |'user-003' |user-003.comcast.com |join_guild|'Knights_of_the_Round_Table'|5000    |1          |3000 |
+-----------------------+-----------+---------------------+----------+----------------------------+--------+-----------+-----+
only showing top 10 rows

In [7]:
purchase_events_df.registerTempTable('purchase_events')

In [8]:
spark.sql("""
            select *
            from purchase_events
            Limit 1
          """).show(truncate=False)

+-----------------------+----------+--------------------+---------------+-----+--------+-----------+-----+
|event_ts               |userid    |Host                |event_type     |name |strength|n_purchased|price|
+-----------------------+----------+--------------------+---------------+-----+--------+-----------+-----+
|2021-12-09 14:12:17.084|'user-001'|user-001.comcast.com|purchase_shield|parma|800     |10         |1500 |
+-----------------------+----------+--------------------+---------------+-----+--------+-----------+-----+

In [15]:
purchase_events_df.printSchema()

root
 |-- event_ts: timestamp (nullable = true)
 |-- userid: string (nullable = true)
 |-- Host: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- strength: long (nullable = true)
 |-- n_purchased: long (nullable = true)
 |-- price: long (nullable = true)

In [16]:
purchase_events_df.columns

['event_ts',
 'userid',
 'Host',
 'event_type',
 'name',
 'strength',
 'n_purchased',
 'price']

In [17]:
guild_events_df = spark.read.parquet("/tmp/guild_events")

In [18]:
guild_events_df.registerTempTable('guild_events')

In [19]:
guild_events_df.printSchema()

root
 |-- event_ts: timestamp (nullable = true)
 |-- userid: string (nullable = true)
 |-- Host: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- strength: long (nullable = true)
 |-- n_purchased: long (nullable = true)
 |-- price: long (nullable = true)

In [22]:
spark.catalog.listTables()

[Table(name='guild_events', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='purchase_events', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='guild_events', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='purchase_events', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [20]:
q1_query = """
               SELECT event_type,
                   sum(amount_purchased) as ttl_purchased
               FROM   purchase_events
               GROUP  BY event_type 
           """

In [21]:
spark.sql(q1_query).show(truncate=False)

AnalysisException: "cannot resolve '`amount_purchased`' given input columns: [price, strength, n_purchased, name, event_type, userid, Host, event_ts]; line 3 pos 23;\n'Aggregate [event_type#75], [event_type#75, 'sum('amount_purchased) AS ttl_purchased#157]\n+- SubqueryAlias purchase_events\n   +- Relation[event_ts#72,userid#73,Host#74,event_type#75,name#76,strength#77L,n_purchased#78L,price#79L] parquet\n"